/* div{
    height: 400px;
    width: 500px;
    background-size: cover;
    /* background-color: red; */
/* }  */
body{
    text-align: center;
}
button{
    height: 40px;
    width: 400px;
    color:white;
    margin-bottom: 40px;
    font-size: 30px;
    background-color: rgb(18, 18, 10);
    border-radius: 20px ;
    box-shadow: 5px 10px 10px green;
}
button:hover{
    /* transform: scale(1.01); */
    box-shadow: 15px 10px 20px blue;

}